@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div class="p-0 m-0 min-vh-100 d-flex flex-column" id="root">
	<HeaderComponent />
	<div class="flex-grow-1 d-flex flex-column">
		@Body
	</div>
	<FeedbackComponent />
</div>

<FooterComponent />

<BlazoredModal />

<BlazoredToasts Position="@ToastPosition.BottomCenter"
				SuccessIconClass="fa fa-thumbs-up"
				ErrorIconClass="fa fa-exclamation-triangle"
				WarningIconClass="fa fa-exclamation-triangle"
				InfoIconClass="fa fa-info-circle" />


@code
{

}
