@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div class="p-0 m-0 min-vh-100 d-flex flex-column" id="root">
	<HeaderComponent />
	<div class="flex-grow-1 d-flex flex-column">
		@Body
	</div>
	<FeedbackComponent />
</div>

<FooterComponent />

<BlazoredModal />

<BlazoredToasts Position="@ToastPosition.BottomCenter"
				SuccessIcon="fas fa-thumbs-up"
				IconType="IconType.FontAwesome"
				ErrorIcon="fas fa-exclamation-triangle"
				WarningIcon="fas fa-exclamation-triangle"
				InfoIcon="fas fa-info-circle"
				ShowProgressBar="true"
				Timeout="6" />


@code
{

}
