@page "/ChooseCourse"
@inherits Uniwiki.Client.Host.Shared.UniwikiComponentBase


<div class="container">
	<PageHeaderComponent Title="@TextService.SearchCourse" />
</div>
<div class="container container-sm pb-4">
	<SearchBoxComponent />
</div>

@code {
	public ChooseCoursePage()
	{
		Console.WriteLine("Constructor: ChooseCoursePage");
	}
}
