@page "/"
@page "/home"
@inherits Uniwiki.Client.Host.Shared.UniwikiComponentBase

<div class="container my-auto text-center">
	@*<div class="rounded-circle text-white uniwiki-icon d-flex align-items-center justify-content-center mr-4">
			<i class="fas fa-user-graduate display-4"></i>
		</div>*@
	<h1 class="display-1">Uniwiki</h1>
	<a class="btn btn-primary text-light btn-lg my-4 shadow-lg" style="min-width: 3rem; min-height: 3rem;" href="@PageRoutes.ChooseCoursePage.BuildRoute()"><i class="fas fa-search mr-3"></i>@TextService.HomePage_SearchCourse</a>
	<div class="mt-3 font-weight-bold mb-5">@TextService.HomePage_SubTitle</div>

</div>


@code {
}