@page "/RestorePasswordRequested/{Email}"
@inherits Uniwiki.Client.Host.Shared.UniwikiComponentBase

<div class="container my-5">
	<div class="mx-auto card text-center shadow-lg" style="max-width: 25rem;">
		<div class="card-header h2 py-4">
			@TextService.RestorePasswordRequestedPage_Title
		</div>
		<div class="card-body text-center p-3 d-flex flex-column">
			<p>@TextService.RestorePasswordRequestedPage_EmailSentMessage(Email)</p>
			<a class="btn btn-primary btn-block" href="@PageRoutes.LoginPage.BuildRoute()">@TextService.LogIn</a>
		</div>
	</div>
</div>

@code 
{

	[Inject] public ILoginService LoginService { get; set; }
	[Inject] public INavigationService NavigationService { get; set; }

	[Parameter] public string Email { get; set; }

	protected override void OnInitialized()
	{
		base.OnInitialized();

		if (LoginService.IsAuthenticated)
			NavigationService.NavigateTo(PageRoutes.HomePage.BuildRoute());
	}


}