@page "/TermsOfUse"
@inherits Uniwiki.Client.Host.Shared.UniwikiComponentBase

<div class="container my-5">
	<h1>Podmínky použití</h1>
	<ul class="list-unstyled">
		<li>Podmínky užití portálu Uniwki.cz pro přístup a užití webových stránek www.uniwiki.cz (dále jen „Podmínky“).</li>
		<br >
		<li >
			<h4 >1. Úvodní ustanovení</h4>
		</li>
		<li >1.1. Provozovatel webu spravuje, provozuje a vlastní portál www.uniwiki.cz (dále jen „Portál“). Za Uživatele je pak považován každý návštěvník Portálu, který se na Portálu zaregistruje.</li>
		<li >1.2. Uživatel souhlasí s těmito podmínkami při registraci a následně pak aktem samotného používání Portálu. Uživatel se zavazuje, že používáním Portálu se s podmínkami seznámil, souhlasí s nimi, rozumí jim a zavazuje se k jejich dodržování.</li>
		<li >1.3. Provozovatel nemá zodpovědnost za protiprávní jednání Uživatele na Portálu či za jednání Uživatele na Portálu, které je proti předpisům, které se na Uživatele vztahují.</li>
		<li >1.4. Provozovatel si vyhrazuje právo v přiměřeném rozsahu tyto Podmínky změnit. Provozovatel oznámí změnu Uživateli vhodným způsobem. Uživatel má právo odmítnout změnu Podmínek a v takovém případě požádat o zrušení svého uživatelského účtu. Pokud Uživatel užívá po změně Podmínek Portál i nadále, má se za to, že tím přijímá změnu Podmínek.</li>
		<br >
		<li >
			<h4 >2. Použití Portálu</h4>
		</li>
		<li >2.1. Každý uživatel používá Portál na vlastní zodpovědnost, při jeho používání se řídí dobrými mravy a nebude ho využívat k podvodným účelům. Uživatel má plnou zodpovědnost za materiály, příspěvky, komentáře, dokumenty a jiná data, která uloží na Portál.</li>
		<li >2.2. Uživatel tím zároveň souhlasí se zpracováváním souborů typu cookies pro správné fungování používání Portálů.</li>
		<li >2.3. Provozovatel neodpovídá za žádná data, která Uživatel uloží na Portál. Toto se vztahuje i na data poskytnutá třetími stranami. Provozovatel má právo mazat veškerá data uložená Uživatelem.</li>
		<li >2.4. Provozovatel nezaručuje nepřerušený přístup na Portál, nezávadnost a bezpečnost. Zároveň neodpovídá za škodu způsobenou Uživatelem při realizaci přístupu a užívání Portálu, včetně případné škody vzniklé při stahování dat zveřejněných na Portálu, škody způsobené přerušením provozu, poruchou Portálu, počítačovými viry, škodu v důsledku ztráty dat, zisku, neoprávněného přístupu k přenosům a datům Uživatele.</li>
		<li >2.5. Kliknutím na některé odkazy nebo akční prvky stránky na Portálu může dojít k opuštění tohoto Portálu, využití obsahu třetích stran na Portálu nebo k přesměrování na webové stránky třetích stran. Toto chování může být plně zaznamenáváno včetně uložení přenesených dat, která můžou být poskytnuta dalším uživatelům. Za toto chování je plně zodpovědný Uživatel.</li>
		<li >2.6. Uživatel má autorská práva ke všem datům, která uloží na Portál. Za porušení autorského práva zodpovídá Uživatel, který data na Portál uložil.</li>
		<li >2.7. Při uložení dat Uživatelem, je Uživatel poučen o tom, že Provozovatel smí s daty nakládat a souhlasí s tímto nakládáním. Provozovatel smí data zobrazovat jiným osobám, prodávat jiným osobám, upravovat pro vlastní potřebu a pro potřebu jiných osob. Provozovatel smí data kopírovat a ukládat.</li>
		<li >2.8. Provozovatel si vyhrazuje právo kdykoliv omezit či ukončit přístup Uživatele na Portál, a to i bez udání důvodu.</li>
		<br >
		<li ><h4 >3. Práva a povinnosti Uživatele</h4></li>
		<li >3.1. Uživatel vůči Provozovateli prohlašuje a zaručuje, že:</li>
		<li ><ul ><li >3.1.1. veškeré údaje, které poskytuje Provozovateli, jsou pravdivé, úplné, přesné a správné</li> <li >3.1.2. že se důkladně seznámil s těmito Podmínkami, zcela jim rozumí a souhlasí s nimi</li> <li >3.1.3. bude používat Portál prostřednictvím ne více než jednoho uživatelského účtu</li></ul></li>
		<li >3.2. Uživatel nesmí:</li>
		<li ><ul ><li >3.2.1. komerčně užívat kterékoli části Portálu,</li> <li >3.2.2. získávat přihlašovací jména a/nebo hesla jiných Uživatelů,</li> <li >3.2.3. zneužívat, blokovat, modifikovat či jinak měnit jakoukoliv součást Portálu včetně hromadného stahování a užívání mimo běžné osobní účely nebo se i jen pokusit narušit stabilitu, chod nebo data Portálu,</li> <li >3.2.4. používat mechanismy, programové vybavení nebo jiné postupy, které by mohly mít negativní vliv na provoz Portálu. Portál je možné užívat jen v rozsahu, který není na úkor práv ostatních Uživatelů nebo Provozovatele a který je v souladu s jeho určením.</li></ul></li>
		<br >
		<br >
		<li ><h4 >Ochrana osobních údajů</h4></li>
		<li >1. Provozovatel může zpracovávat některé osobní údaje Uživatelů, kteří vyplní registrační formulář, případně neregistrovaných Uživatelů, kteří Portál navštíví.</li>
		<li >2. Ochrana osobních údajů Uživatele, který je fyzickou osobou, je zajištěna ve smyslu Nařízení Evropského parlamentu a Rady (EU) 2016/679 (GDPR)</li>
		<li >3. Uživatel dobrovolně souhlasí se zpracováním těchto svých osobních údajů: e-mailová adresa a při vyplnění souhlasí i se zpracováním přístupových údajů služeb třetích stran.</li>
		<li >4. Uživatel souhlasí se zpracováním osobních údajů Portálem pro účel použití Portálu.</li>
		<li >5. Uživatel je povinen své osobní údaje uvádět správně a pravdivě a je povinen bez zbytečného odkladu informovat Portál o změně ve svých osobních údajích.</li>
		<li >6. Osobní údaje budou zpracovávány Portálem po dobu využívání služeb. Pro ukončení služeb je třeba písemně informovat Portál, například na e-mailovou adresu petr.sinde@gmail.com. Uživatel má právo k přístupu ke svým osobním údajům a právo na jejich úpravu.</li>
		<li >7. Uživatel souhlasí se zasíláním informací souvisejících se službami Portálu a dále souhlasí se zasíláním obchodních sdělení Portálu na svoji e-mailovou adresu. Souhlas Uživatele se zasíláním obchodních sdělení je dobrovolný. Uživatel je oprávněn kdykoli tento souhlas odvolat v nastavení svého uživatelského účtu.</li>
	</ul>
</div>

@code {

}