@inherits UniwikiComponentBase

<div class="input-group mb-3">
	@ChildContent
	<div class="input-group-append">
		<button class="btn btn-outline-secondary @(PasswordVisibilityUtility.PasswordVisible ? "active" : string.Empty)" type="button" @onclick="PasswordVisibilityUtility.Toggle">
			@if (PasswordVisibilityUtility.PasswordVisible)
			{
				<div class="">
					<span class="far fa-eye-slash"></span>
				</div>
			}
			else
			{
				<div>
					<span class="far fa-eye"></span>
				</div>
			}
		</button>
	</div>
</div>

@code {
	[Parameter]
	public PasswordVisibilityUtility PasswordVisibilityUtility { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }
}
