
<a class="px-3 py-2 mb-2 d-block rounded search-item text-dark d-flex align-items-center border border-primary shadow-sm btn btn-block" href="@FullUrl">
	<div class="text-left">
		<h5 class="my-0 py-0 dont-break-out">@Name</h5>
		<span class="dont-break-out">@UniversityAndFaculty</span>
	</div>
	<span class="ml-auto badge badge-secondary badge-pill">@Code</span>
</a>

@code {
	[Inject] INavigationService NavigationService { get; set; } = null!;

	[Parameter] public string Name { get; set; } = null!;
	[Parameter] public string? Code { get; set; }
	[Parameter] public string UniversityAndFaculty { get; set; } = null!;
	[Parameter] public string FullUrl { get; set; } = null!;
}