@page "/Error"
@inherits Uniwiki.Client.Host.Shared.UniwikiComponentBase
@layout MainLayout

	<div class="container mb-5 mt-3">
		<PageHeaderComponent Title="@TextService.ErrorPage_Title" />

		<div class="my-5 text-center">
			<i class="fas fa-grin-beam-sweat fa-4x text-muted"></i>
		</div>
		<h5 class="text-center mb-5 text-muted">@TextService.ErrorPage_Message</h5>
		<div class="mb-3 text-center">
			<button class="btn btn-primary btn-lg" @onclick="HandleGoBack">@TextService.ErrorPage_GoBack</button>
		</div>
	</div>

@code
{
	[Inject] public INavigationService NavigationService { get; set; }

	public async Task HandleGoBack()
	{
		await NavigationService.Back();
	}

}
